body{
  font-size: 14px;
  font-weight: 600;
  color: $dark-900;
  line-height: 140%;
  font-family: 'Open Sans','Arial', sans-serif;
}

.container{
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}